<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maharlika_App"
        tools:targetApi="31" >
        <activity
            android:name=".user.notfications.NotificationDetailsActivity"
            android:exported="false" />

        <service
            android:name=".notifications.FirebaseService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".user.news.NewsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.events.EventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".admin.manageAcc.EditAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.news.AddNewsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.news.EditNewsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.events.EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".admin.events.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminHolderActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".user.MainActivity"
            android:exported="true"
            android:noHistory="true" />

    </application>

</manifest>